.activeBgActivePrimary:active {
  background-color: #377a63;
  border-color: #377a63;
}

.activeBgActivePrimary:focus {
  outline: none;
}

.activeBgActiveSecondary:active {
  background-color: #a9acb7;
  border-color: #a9acb7;
}

.activeBgActiveSecondary:focus {
  outline: none;
}

.activeBgActiveDanger:active {
  background-color: #7c0d20;
  border-color: #7c0d20;
}

.activeBgActiveDanger:focus {
  outline: none;
}

.activeBgActiveOutline:active {
  background-color: #e7e9f0;
  border-color: #e7e9f0;
}

.activeBgActiveOutline:focus {
  outline: none;
}
