.searchSelect .searchSelect__control {
  width: 100%;
  min-width: 195px;
  padding: .188rem;
  border: 1px solid #d7dbe7;
  border-radius: .125rem;
  background-color: #fff;
  color: #212e5f;
}

.selectWrapper select:focus {
  outline: 0;
  border-color: #4B71FC;
}
